{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('appGame') }}
{% endblock %}

{% block body %}
    <input type="hidden" id="route-to-game" value="{{ path('app_game_arrange') }}">
    <input type="hidden" id="route-to-game-prepare-game" value="{{ path('app_game_prepare_game') }}">
    <input type="hidden" id="route-to-game-check-is-game" value="{{ path('app_game_is_user_in_game') }}">
    <input type="hidden" id="route-to-game-get-user-ships" value="{{ path('app_game_get_user_ships') }}">
    <input type="hidden" id="kinds-of-game" value="{{ kindsOfGame }}">
    <div id="app"></div>
{% endblock %}