{% extends 'base_login.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('appGame') }}
{% endblock %}

{% block body %}
    <input type="hidden" id="route-to-game" value="{{ path('app_game_arrange') }}">
    <input type="hidden" id="route-to-game-prepare-game" value="{{ path('app_game_prepare_game') }}">
    <input type="hidden" id="route-to-game-check-is-game" value="{{ path('app_game_is_user_in_game') }}">
    <input type="hidden" id="route-to-game-get-user-ships" value="{{ path('app_game_get_user_ships') }}">
    <input type="hidden" id="route-to-game-serve-listening-player"
           value="{{ path('app_game_serve_listening_player') }}">
    <input type="hidden" id="route-to-game-serve-player-move" value="{{ path('app_game_serve_player_move') }}">

    <input type="hidden" id="kinds-of-game" value="{{ kindsOfGame }}">
    <input type="hidden" id="response-statuses" value="{{ responseStatuses }}">
    <input type="hidden" id="request-statuses" value="{{ requestStatuses }}">

    <input type="hidden" id="route-to-dashboard" value="{{ path('app_dashboard_index') }}">

    <div id="app" class="col-12"></div>
{% endblock %}